In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("googleplaystore.csv")

In [20]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [21]:
df.shape

(10841, 13)

In [22]:
df.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [23]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [24]:
df.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [25]:
# check duplicates
df[df.duplicated() == True].count()

App               483
Category          483
Rating            474
Reviews           483
Size              483
Installs          483
Type              483
Price             483
Content Rating    483
Genres            483
Last Updated      483
Current Ver       483
Android Ver       483
dtype: int64

### feature engineering

1. cleaning 
2. preprocessing

In [26]:
df.drop("App", axis=1, inplace=True)

In [27]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [28]:
df['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [29]:
df['Category'].value_counts()

FAMILY                 1972
GAME                   1144
TOOLS                   843
MEDICAL                 463
BUSINESS                460
PRODUCTIVITY            424
PERSONALIZATION         392
COMMUNICATION           387
SPORTS                  384
LIFESTYLE               382
FINANCE                 366
HEALTH_AND_FITNESS      341
PHOTOGRAPHY             335
SOCIAL                  295
NEWS_AND_MAGAZINES      283
SHOPPING                260
TRAVEL_AND_LOCAL        258
DATING                  234
BOOKS_AND_REFERENCE     231
VIDEO_PLAYERS           175
EDUCATION               156
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     137
FOOD_AND_DRINK          127
HOUSE_AND_HOME           88
LIBRARIES_AND_DEMO       85
AUTO_AND_VEHICLES        85
WEATHER                  82
ART_AND_DESIGN           65
EVENTS                   64
PARENTING                60
COMICS                   60
BEAUTY                   53
1.9                       1
Name: Category, dtype: int64

In [30]:
df[df['Category'] == '1.9']

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [31]:
df.drop(10472, axis=0, inplace=True)

In [32]:
df.iloc[10470:10473]

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10470,COMMUNICATION,3.4,49,4.0M,"10,000+",Free,0,Everyone,Communication,"February 10, 2017",0.1,2.3 and up
10471,PERSONALIZATION,3.5,1042,404k,"100,000+",Free,0,Everyone,Personalization,"August 5, 2014",3.0.0,4.0.3 and up
10473,TOOLS,4.2,134203,4.1M,"10,000,000+",Free,0,Everyone,Tools,"August 7, 2018",6.06.14,4.4 and up

In [33]:
# label encoding
from sklearn.preprocessing import LabelEncoder

In [34]:
label_encoder = LabelEncoder()

In [35]:
df['Category'] = label_encoder.fit_transform(df['Category'])
df['Category'].head()

0    0
1    0
2    0
3    0
4    0
Name: Category, dtype: int32

In [36]:
df['Category'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 12, 13, 15, 16, 17, 18,
       14, 11, 20, 27, 26, 24, 28, 30, 29, 23, 25, 22, 32, 31, 21, 19])

In [37]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,0,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,0,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,0,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,0,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [38]:
df.tail()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,11,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,11,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,20,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,3,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,18,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [45]:
df['Rating'].isna().sum()

0

In [46]:
df['Rating'].mean()

4.191757420456971

In [47]:
df['Rating'].fillna(df['Rating'].mean(), inplace=True)

In [48]:
df['Rating'].isna().sum()

0

In [49]:
df['Rating'].mean()

4.191757420456971

In [50]:
find_mem = df['Size'].apply(lambda x: x[-1])
set(find_mem)

{'M', 'e', 'k'}

In [51]:
df['Size'][df['Size'].apply(lambda x: x[-1]) == 'k']

58        201k
209        23k
384        79k
450       118k
458       695k
         ...
10763     552k
10764     885k
10798    1020k
10832     582k
10833     619k
Name: Size, Length: 316, dtype: object

In [52]:
df['Size'] = df['Size'].apply(lambda x: x.replace("M", "") if x[-1] == 'M' else x)
df['Size'] = df['Size'].apply(lambda x: x.replace("k", "00") if x[-1] == 'k' else x)
df['Size'] = df['Size'].apply(lambda x: x.replace("Varies with device", "0") if x == 'Varies with device' else x)

In [53]:
df['Size'] = df['Size'].apply(lambda x: float(x))

In [54]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,4.1,159,19.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,0,3.9,967,14.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,0,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,0,4.5,215644,25.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,0,4.3,967,2.8,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [55]:
df['Reviews'] = df['Reviews'].apply(lambda x: int(x))

In [56]:
df.dtypes

Category            int32
Rating            float64
Reviews             int64
Size              float64
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [57]:
find_mem = df['Installs'].apply(lambda x: x[-1])
set(find_mem)

{'+', '0'}

In [58]:
df['Installs'].isna().sum()

0

In [59]:
df['Installs'] = df['Installs'].apply(lambda x: x.replace("+", "") if x[-1] == '+' else x)

In [60]:
df['Installs'] = df['Installs'].str.replace(',', '')

In [61]:
df['Installs'].unique()

array(['10000', '500000', '5000000', '50000000', '100000', '50000',
       '1000000', '10000000', '5000', '100000000', '1000000000', '1000',
       '500000000', '50', '100', '500', '10', '1', '5', '0'], dtype=object)

In [62]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,4.1,159,19.0,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,0,3.9,967,14.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,0,4.7,87510,8.7,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,0,4.5,215644,25.0,50000000,Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,0,4.3,967,2.8,100000,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [63]:
df['Installs'] = df['Installs'].apply(lambda x: int(x))

In [64]:
df.dtypes

Category            int32
Rating            float64
Reviews             int64
Size              float64
Installs            int64
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [65]:
df['Type'].unique()

array(['Free', 'Paid', nan], dtype=object)

In [66]:
df['Type'].isna().sum()

1

In [67]:
df['Type'].value_counts()

Free    10039
Paid      800
Name: Type, dtype: int64

In [68]:
df[df['Type'] == 'nan']

Empty DataFrame
Columns: [Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [69]:
df['Type'] = label_encoder.fit_transform(df['Type'])
df['Type'].head()

0    0
1    0
2    0
3    0
4    0
Name: Type, dtype: int32

In [70]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,4.1,159,19.0,10000,0,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,0,3.9,967,14.0,500000,0,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,0,4.7,87510,8.7,5000000,0,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,0,4.5,215644,25.0,50000000,0,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,0,4.3,967,2.8,100000,0,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [71]:
df.dtypes

Category            int32
Rating            float64
Reviews             int64
Size              float64
Installs            int64
Type                int32
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [72]:
df['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

In [73]:
df['Price'].value_counts()

0         10040
$0.99       148
$2.99       129
$1.99        73
$4.99        72
          ...
$19.90        1
$1.75         1
$14.00        1
$4.85         1
$1.04         1
Name: Price, Length: 92, dtype: int64

In [89]:
df['Price'] = df['Price'].apply(lambda x: x.replace("$", "") if x[-1] == '$' else x)

In [90]:
df['Price'].unique()

array(['0', '4.99', '3.99', '6.99', '1.49', '2.99', '7.99', '5.99',
       '3.49', '1.99', '9.99', '7.49', '0.99', '9.00', '5.49', '10.00',
       '24.99', '11.99', '79.99', '16.99', '14.99', '1.00', '29.99',
       '12.99', '2.49', '10.99', '1.50', '19.99', '15.99', '33.99',
       '74.99', '39.99', '3.95', '4.49', '1.70', '8.99', '2.00', '3.88',
       '25.99', '399.99', '17.99', '400.00', '3.02', '1.76', '4.84',
       '4.77', '1.61', '2.50', '1.59', '6.49', '1.29', '5.00', '13.99',
       '299.99', '379.99', '37.99', '18.99', '389.99', '19.90', '8.49',
       '1.75', '14.00', '4.85', '46.99', '109.99', '154.99', '3.08',
       '2.59', '4.80', '1.96', '19.40', '3.90', '4.59', '15.46', '3.04',
       '4.29', '2.60', '3.28', '4.60', '28.99', '2.95', '2.90', '1.97',
       '200.00', '89.99', '2.56', '30.99', '3.61', '394.99', '1.26',
       '1.20', '1.04'], dtype=object)

In [92]:
df['Price'] = df['Price'].apply(lambda x: int(x))

In [93]:
df.dtypes

Category            int32
Rating            float64
Reviews             int64
Size              float64
Installs            int64
Type                int32
Price               int64
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [94]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,4.1,159,19.0,10000,0,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,0,3.9,967,14.0,500000,0,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,0,4.7,87510,8.7,5000000,0,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,0,4.5,215644,25.0,50000000,0,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,0,4.3,967,2.8,100000,0,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [95]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [96]:
df['Content Rating'].value_counts()

Everyone           8714
Teen               1208
Mature 17+          499
Everyone 10+        414
Adults only 18+       3
Unrated               2
Name: Content Rating, dtype: int64

In [97]:
df[df['Content Rating'] == 'Unrated']

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
7312,11,4.191757,1,2.5,500,0,0,Unrated,Entertainment,"June 24, 2015",5.2,3.0 and up
8266,29,4.100000,1186,6.4,50000,0,0,Unrated,Tools,"February 27, 2012",1.3,2.3.3 and up

In [98]:
df.drop(7312, axis=0, inplace=True)
df.drop(8266, axis=0, inplace=True)

In [99]:
df.iloc[7311:7313]

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
7311,25,4.191757,0,0.0,10,0,0,Teen,Productivity,"August 2, 2018",Varies with device,Varies with device
7313,11,3.600000,13,2.5,1000,0,0,Teen,Entertainment,"June 19, 2015",3.0,3.0 and up

In [100]:
df.iloc[8265:8267]

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
8267,3,4.2,20,3.4,1000,0,0,Everyone,Books & Reference,"June 8, 2015",4.6.1,1.6 and up
8268,11,4.3,166312,91.0,5000000,0,0,Teen,Role Playing,"July 31, 2018",1.4.0,4.4 and up

In [101]:
df['Content Rating'].value_counts()

Everyone           8714
Teen               1208
Mature 17+          499
Everyone 10+        414
Adults only 18+       3
Name: Content Rating, dtype: int64

In [102]:
df['Content Rating'] = label_encoder.fit_transform(df['Content Rating'])
df['Content Rating'].head()

0    1
1    1
2    1
3    4
4    1
Name: Content Rating, dtype: int32

In [103]:
df['Content Rating'].value_counts()

1    8714
4    1208
3     499
2     414
0       3
Name: Content Rating, dtype: int64

In [104]:
df.dtypes

Category            int32
Rating            float64
Reviews             int64
Size              float64
Installs            int64
Type                int32
Price               int64
Content Rating      int32
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [105]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,4.1,159,19.0,10000,0,0,1,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,0,3.9,967,14.0,500000,0,0,1,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,0,4.7,87510,8.7,5000000,0,0,1,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,0,4.5,215644,25.0,50000000,0,0,4,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,0,4.3,967,2.8,100000,0,0,1,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [106]:
df['Genres'].unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Art & Design;Action & Adventure',
       'Auto & Vehicles', 'Beauty', 'Books & Reference', 'Business',
       'Comics', 'Comics;Creativity', 'Communication', 'Dating',
       'Education;Education', 'Education', 'Education;Creativity',
       'Education;Music & Video', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Simulation', 'Adventure', 'Board',
       'Trivia', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education', 'Card;Brain Games',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Sports;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
       'Music & Audio;Music & Video', 'Health & Fitness;Education',
       'Adventure;Education', 'Board;Brain Games',
       'Board;Action & Adventure', 'Board;Pretend Play',
       'Casual;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Education',
       'Parenting;Brain Games', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Educational', 'Casino', 'Adventure;Brain Games',
       'Trivia;Education', 'Lifestyle;Education',
       'Books & Reference;Creativity', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Communication;Creativity',
       'Strategy;Creativity'], dtype=object)

In [107]:
df['Genres'].value_counts()

Tools                                841
Entertainment                        622
Education                            549
Medical                              463
Business                             460
                                    ...
Parenting;Brain Games                  1
Travel & Local;Action & Adventure      1
Lifestyle;Pretend Play                 1
Tools;Education                        1
Strategy;Creativity                    1
Name: Genres, Length: 119, dtype: int64

In [108]:
df['Genres'].isna().sum()

0

In [109]:
df['Genres'] = label_encoder.fit_transform(df['Genres'])
df['Genres'].head()

0     9
1    12
2     9
3     9
4    11
Name: Genres, dtype: int32

In [110]:
df.dtypes

Category            int32
Rating            float64
Reviews             int64
Size              float64
Installs            int64
Type                int32
Price               int64
Content Rating      int32
Genres              int32
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [111]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,4.1,159,19.0,10000,0,0,1,9,"January 7, 2018",1.0.0,4.0.3 and up
1,0,3.9,967,14.0,500000,0,0,1,12,"January 15, 2018",2.0.0,4.0.3 and up
2,0,4.7,87510,8.7,5000000,0,0,1,9,"August 1, 2018",1.2.4,4.0.3 and up
3,0,4.5,215644,25.0,50000000,0,0,4,9,"June 8, 2018",Varies with device,4.2 and up
4,0,4.3,967,2.8,100000,0,0,1,11,"June 20, 2018",1.1,4.4 and up

In [112]:
df['Last Updated'].isna().sum()

0

In [113]:
df['Last Updated'].unique()

array(['January 7, 2018', 'January 15, 2018', 'August 1, 2018', ...,
       'January 20, 2014', 'February 16, 2014', 'March 23, 2014'],
      dtype=object)

In [115]:
df['Last Updated'] = pd.to_datetime(df['Last Updated'])
df['Last Updated']

0       2018-01-07
1       2018-01-15
2       2018-08-01
3       2018-06-08
4       2018-06-20
           ...
10836   2017-07-25
10837   2018-07-06
10838   2017-01-20
10839   2015-01-19
10840   2018-07-25
Name: Last Updated, Length: 10838, dtype: datetime64[ns]

In [116]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,4.1,159,19.0,10000,0,0,1,9,2018-01-07,1.0.0,4.0.3 and up
1,0,3.9,967,14.0,500000,0,0,1,12,2018-01-15,2.0.0,4.0.3 and up
2,0,4.7,87510,8.7,5000000,0,0,1,9,2018-08-01,1.2.4,4.0.3 and up
3,0,4.5,215644,25.0,50000000,0,0,4,9,2018-06-08,Varies with device,4.2 and up
4,0,4.3,967,2.8,100000,0,0,1,11,2018-06-20,1.1,4.4 and up

In [121]:
df.drop("Current Ver", axis=1, inplace=True)
df.drop("Android Ver", axis=1, inplace=True)

In [123]:
df.dtypes

Category                   int32
Rating                   float64
Reviews                    int64
Size                     float64
Installs                   int64
Type                       int32
Price                      int64
Content Rating             int32
Genres                     int32
Last Updated      datetime64[ns]
dtype: object

In [122]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated
0,0,4.1,159,19.0,10000,0,0,1,9,2018-01-07
1,0,3.9,967,14.0,500000,0,0,1,12,2018-01-15
2,0,4.7,87510,8.7,5000000,0,0,1,9,2018-08-01
3,0,4.5,215644,25.0,50000000,0,0,4,9,2018-06-08
4,0,4.3,967,2.8,100000,0,0,1,11,2018-06-20